.page {
  height: 500px;
  width: 1000px;
  padding: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border:solid 2px black;
}
.page-home {
  background-image: url("/bg-home.png");

}
.grocery-btn{
    background-image: url("/grocery-btn.webp");
    background-color: transparent;
    border: none;
    width: 180px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    left: 100px;
}
.kitchen-btn{
    background-image: url("/bistro.webp");
    background-color: transparent;
    border: none;
    width: 180px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 95px;
    right: 185px;
}
.game-btn{
    background-image: url("/game.webp");
    background-color: transparent;
    border: none;
    width: 160px;
    height: 140px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 40px;
    right: 310px;
}
.building:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
/* .bar{
    display: "flex";
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16;
    padding: 12;
    border-Bottom: "1px solid #ddd";
} */
.page-wrapper {
  min-height: 100vh;; /* adjust if needed */
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: solid 2px black;
  background-color: transparent;
}

 body{
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-direction: row; */
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }